html:not([dir="rtl"]) .sidebar {
  width: 230px;
}
.ps-container {
  width: 230px !important;
  .nav {
    width: 230px !important;
  }
}

html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main,
html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer,
html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main,
html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer {
  margin-left: 230px;
}
html:not([dir="rtl"]) .sidebar {
  margin-left: -230px;
}
